*{
    margin: 0;
    padding:0;
}
:root{
    --primaryColor:#F0F0F4;
    --secondaryColor:#26313F;
    --thirdColor:#26313F;
    --forthColor:rgba(38, 49, 63, 0.5);
    --fiveColor:#F0F0F4;
    --sixthColor:#5598EE;
    --font-family: "Satoshi", sans-serif;
    --second-family: "Poppins", sans-serif;
    
}

[data-theme="dark"] {
    --primaryColor: #151C25;
    --secondaryColor: #55E5A4;
    --thirdColor:#FFFFFF;
    --forthColor:#55e5a4;
    --fiveColor:#55e5a4;
    --sixthColor:#55e5a4;
  }
body{
    background-color: var(--primaryColor);
}
button{
    cursor: pointer;
}
img{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none; 
}

.myPicture{
    width: 200px;
}
.Introduction{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 56px);
    padding-left: 20px;
    padding-right:20px;
    padding-top: 20px;
    gap:100px;
    border-bottom: 1px solid var(--forthColor) ;
  
}
.sammary{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 600px;
    padding-left:  24.5px; ;
}
.MyNameInSammary{
    color:var(--thirdColor);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;

}
.MyJobName{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 42px;
    color: var(--secondaryColor);
}
.sammaryParagraph{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: #686565;
}
.AvailableCountainer{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.getInTouchButton{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 10px;
    padding: 10px;
    border: none;

}
.availableNowButton{
    display: flex;
    gap:10px;
    border: none;
    background-color: transparent;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #686565;
}
.circleGreenPoint{
    border-radius: 100%;
    background-color: #03ff8d;
    height: 15px;
    width: 15px;
    align-self: center;
    filter: blur(2px);
}
.pictureTeleHack{

    height: 360px;
    width: 310px;
    overflow: hidden;
}
.pictureTeleHack{
align-self: center;
justify-self: center;
}
.cadre2{
    position: absolute;
    left: -15px;
    top:-15px;
    z-index: -1;
   background-color: var(--secondaryColor);
   width: 235px;
   height: 250px;
}
.photoOftheEvent2{
    position: relative;

    background-color: transparent;
    height: 388px;
    width: 300px;
    transition: transform 1s, opacity 1s, visibility 0s;
    transform: translateX(100px);
    opacity: 0;
    visibility: hidden;
}
.photoOftheEvent2.in-view{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
   
}
.photoOftheEvent2:hover{
    transform: translateX(-10px);

}
/*/////////////////////////////////////*/
.AboutMe{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap:70px;
    flex-wrap: wrap-reverse;
    border-bottom: 1px solid var(--forthColor) ;
}


.aboutMeDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.aboutmetextDiv{
    display: flex;
    flex-direction: column;
    gap:0px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
   max-width: 220px;
   color: var(--thirdColor);
}
.aLine{
    height: 2px;
    width: 22px;
    align-self: center;
    background-color:var(--secondaryColor) ;
}

.whoAmI{
    display: flex;
    gap:5px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    color: var(--secondaryColor);
    align-self: end;
}
.educationAndInterest{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: #686565;
    max-width: 600px;
}
.skillsList{
    margin-top:15px ;
    display: flex;
    gap:20px;

}
.photoOftheEvent{
    position: relative;
    background-color: transparent;
    width: 458px;
    height: 450px;
    transition: transform 1s, opacity 1s, visibility 0s;
    transform: translateX(-300px);
    opacity: 0;
    visibility: hidden;
  
}
.photoOftheEvent.in-view{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
   
}
.in-view:hover{
    transform: translateX(20px);
}
.microhackPhoto{
    position: relative;
    z-index: 50;
    width: 458px;
    height: 450px;
    
}
.cadre{
    position: absolute;
    left: -15px;
    top:-15px;
    z-index: 1;
   background-color: var(--secondaryColor);
   width: 235px;
   height: 400px;
}
/*//////////////////////////////////*/
.projects{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:50px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--forthColor) ;
}
.projectsCountainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    flex-wrap: wrap;
}
.projects-word{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    color: var(--thirdColor);
}
/*////////////////////////////////*/
.GetInTouch{
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--forthColor) ;
}
.form{
    display: flex;
    gap:0px;
}
.getInTouchPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    max-width: 500px;
    height: 500px;
    background-image: url('../assets/Rectangle 12.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 24px;
    border-bottom-left-radius:24px ;
}
.textDisscuss{
    max-width: 400px;
    align-self: center;
    justify-self: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 46px;
    color: #eee;
}
.cool{
    color: var(--sixthColor);
}
.gettouchtext{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    color: var(--thirdColor);
}
.formCountainer{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap:64px;
    border-radius: 0 24px 24px 0;
    width: 634px;
    background-color: white;
}
.name{
    border-right: none;
    border-left:none ;
    border-top: none;
    border-bottom: 3px solid #686565;
    width: 100%;
    height: 35px;
    box-shadow: none;
    outline: none;
    transition: border-color 400ms ease;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #2e0249;
}
.name:active{
    border-right: none;
    border-left:none ;
    border-top: none;
    border-bottom: 3px solid #151c25;
    width: 100%;
    box-shadow: none;
    height: 35px;
  

}
.name:focus{
    border-right: none;
    border-left:none ;
    border-top: none;
    box-shadow: none;
    border-bottom: 3px solid #151c25;
    width: 100%;
    height: 35px;
   

}
.name:focus::placeholder,.name:active::placeholder {
    color: #151c25; /* Change placeholder color on focus and active states */
}
.sendMessage{
    display: flex;
    gap:6px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    padding: 14px 20px;
    color: white;
    background-color: var(--secondaryColor);
    max-width:250px;
}
.footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-bottom: 1px solid var(--forthColor) ;
}
.contactme{
    display: flex;
    gap:20px;
    
}
.contactmee{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #686565;
    background-color: transparent;
    border: none;
}
.reserved{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    padding: 20px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: var(--thirdColor);
    }


/*///////////////////////*/
@media screen and (max-width: 1126px)  {
  
   .aboutMeDescription{
    align-items: center;
    justify-content: center; 
   }
   .skillsList{
    width: 100%;
    justify-content: space-around;
   }

  }
  @media screen and (max-width: 976px)  {
    .getInTouchPhoto{
        display: none;
    }
    .formCountainer{
        border-radius: 24px;
    }
    .Introduction{
        padding-top: 100px;
    }
  }
  @media screen and (max-width: 880px)  {
    .Introduction{
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
     
    }
    .formCountainer{
        max-width: 400px;
        }
  }

  @media screen and (max-width: 489px)  {
  .microhackPhoto{
    width: 358px;
    height:350px ;
  }

  .photoOftheEvent{
    width: 358px;
    height:350px ;
 
  }
  .cadre{
    height: 300px;
  }
  
}
@media screen and (max-width: 482px)  {
    .sammary{
        max-width:  350px;;
    }
   .MyJobName{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    color: #61c698;
   }
   .sammaryParagraph{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #77808b;
   }
   .getInTouchButton{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 10px;
   }
   .availableNowButton{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #888;
    }
    .circleGreenPoint{
        width: 19px;
        height: 20px;
    }
    .AboutMe{
        padding: 15px;
    }
    .aboutMeText{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #000;
    }
    .whoAmI{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        color: #26313f;
    }
    .educationAndInterest{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        color: #77808b;
        
    }
    .projects-word{
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        color: #151c25;
    }
    .gettouchtext{
        font-weight: 500;
        font-size: 32px;
    }
    .formCountainer{
        justify-content: center;
        align-items: center;
        width: 418px;
        height: 588px;
        gap:70px;

    }
    .name{
        max-width: 350px;
        height: 37px;
      
    }
    .GetInTouch{
    padding-top: 0;
    }

}


